Repository rdwj/py2to3-example-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-py2-idioms, flake8-py2-data-layer

pylint-py2-idioms:
  name: 'pylint: Py2 idiom checker (phase-gated)'
  ...

flake8-py2-data-layer:
  name: 'flake8: Py2 data-layer checks (E950-E953)'
  entry: "bash -c '\n  PYTHONPATH=\".lint-plugins:${PYTHONPATH}\" \\\n    flake8 --select=E950,E951,E952,E953 \"$@\"\n'\n"
  language: system
  stages:
  - pre-commit

chore: Complete Phase 3 (Semantic Fixes & Runtime Validation) of Python 2→3 migration
  migration-analysis/migration-state.json
  migration-analysis/phase3-gate-check-report.json
  migration-analysis/phase3-gate-check-report.md
  scripts/batch_import.py
  scripts/run_platform.py
  scripts/sensor_monitor.py
  src/automation/plugin_loader.py
  src/automation/scheduler.py
  src/automation/script_runner.py
  src/core/config_loader.py
  src/data_processing/csv_processor.py
  src/data_processing/json_handler.py
  src/data_processing/log_parser.py
  src/data_processing/mainframe_parser.py
  src/data_processing/text_analyzer.py
  src/data_processing/xml_transformer.py
  src/io_protocols/opcua_client.py
  src/reporting/email_sender.py
  src/reporting/report_generator.py
  src/reporting/web_dashboard.py
  src/storage/cache.py
  src/storage/file_store.py
  tests/test_config_loader_characterization.py
  tests/test_core_types.py
  tests/test_core_types_characterization.py
  tests/test_csv_processor.py
  tests/test_database_characterization.py
  tests/test_exceptions_characterization.py
  tests/test_file_store_characterization.py
  tests/test_mqtt_listener_characterization.py
  tests/test_opcua_client_characterization.py
  tests/test_scheduler_characterization.py
  tests/test_serial_sensor_characterization.py
  tests/test_string_helpers_characterization.py
  tests/test_web_dashboard_characterization.py
Due: pylint-py2-idioms, flake8-py2-data-layer

chore: Add handoff prompts from Phases 0-4 migration
  handoff-prompts/phase0-kickoff-prompt.md
  handoff-prompts/phase1-handoff-prompt.md
  handoff-prompts/phase2-handoff-prompt.md
  handoff-prompts/phase3-handoff-prompt.md
  handoff-prompts/phase3-implementation-plan.md
  handoff-prompts/phase4-handoff-prompt.md
Due: none

chore: Add dependency graph visualization from Phase 0 discovery
  migration-analysis/dependency-graph.html
Due: none

phase2: Convert Wave 1 core-foundation and core-helpers
  src/compat.py
  src/core/config_loader.py
  src/core/exceptions.py
  src/core/itertools_helpers.py
  src/core/string_helpers.py
  src/core/types.py
  src/core/utils.py
Due: pylint-py2-idioms

phase2: Convert Wave 2 io-protocols and data-processing
  src/data_processing/csv_processor.py
  src/data_processing/json_handler.py
  src/data_processing/log_parser.py
  src/data_processing/mainframe_parser.py
  src/data_processing/text_analyzer.py
  src/data_processing/xml_transformer.py
  src/io_protocols/modbus_client.py
  src/io_protocols/mqtt_listener.py
  src/io_protocols/opcua_client.py
  src/io_protocols/serial_sensor.py
Due: pylint-py2-idioms, flake8-py2-data-layer

phase2: Convert Wave 3 storage and reporting
  src/reporting/email_sender.py
  src/reporting/report_generator.py
  src/reporting/web_dashboard.py
  src/storage/cache.py
  src/storage/database.py
  src/storage/file_store.py
Due: pylint-py2-idioms, flake8-py2-data-layer

phase2: Convert Wave 4 automation
  src/automation/plugin_loader.py
  src/automation/scheduler.py
  src/automation/script_runner.py
Due: pylint-py2-idioms

phase2: Convert Wave 5 package inits and test files
  tests/__init__.py
  tests/conftest.py
  tests/test_cache.py
  tests/test_compat.py
  tests/test_config_loader.py
  tests/test_core_types.py
  tests/test_csv_processor.py
  tests/test_database.py
  tests/test_email_sender.py
  tests/test_exceptions.py
  tests/test_file_store.py
  tests/test_itertools_helpers.py
  tests/test_json_handler.py
  tests/test_log_parser.py
  tests/test_mainframe_parser.py
  tests/test_modbus.py
  tests/test_mqtt_listener.py
  tests/test_opcua_client.py
  tests/test_plugin_loader.py
  tests/test_report_generator.py
  tests/test_scheduler.py
  tests/test_script_runner.py
  tests/test_serial_sensor.py
  tests/test_string_helpers.py
  tests/test_text_analyzer.py
  tests/test_utils.py
  tests/test_web_dashboard.py
  tests/test_xml_transformer.py
Due: pylint-py2-idioms

phase2: Convert Wave 6 scripts; update migration state
  migration-analysis/migration-state.json
  scripts/batch_import.py
  scripts/run_platform.py
  scripts/sensor_monitor.py
Due: pylint-py2-idioms

phase2: Fix import paths for Py3 module resolution
  src/automation/__init__.py
  src/automation/plugin_loader.py
  src/automation/scheduler.py
  src/automation/script_runner.py
  src/core/__init__.py
  src/data_processing/__init__.py
  src/data_processing/csv_processor.py
  src/data_processing/json_handler.py
  src/data_processing/log_parser.py
  src/data_processing/mainframe_parser.py
  src/data_processing/text_analyzer.py
  src/data_processing/xml_transformer.py
  src/io_protocols/__init__.py
  src/reporting/__init__.py
  src/reporting/email_sender.py
  src/reporting/report_generator.py
  src/reporting/web_dashboard.py
  src/storage/__init__.py
  tests/test_compat.py
  tests/test_itertools_helpers.py
  tests/test_report_generator.py
  tests/test_scheduler.py
  tests/test_utils.py
Due: pylint-py2-idioms, flake8-py2-data-layer

phase1: Update build system, dependencies, and lint infrastructure
  .lint-plugins/__init__.py
  .lint-plugins/flake8_phase1_checker.py
  .lint-plugins/flake8_phase2_checker.py
  .lint-plugins/setup.cfg
  .lint-plugins/setup.py
  requirements.txt
  scripts/generate_ebcdic_data.py
  scripts/run_lint.sh
  setup.py
  src/__init__.py
Due: pylint-py2-idioms

chore: Add migration analysis artifacts and Phase 2 gate evidence
  migration-analysis/LINT_RULES_SUMMARY.md
  migration-analysis/build-system-report.json
  migration-analysis/build-system-report.md
  migration-analysis/conversion-plan.json
  migration-analysis/conversion-plan.md
  migration-analysis/conversion-report.json
  migration-analysis/critical-path.json
  migration-analysis/future-imports-report.json
  migration-analysis/future-imports-report.md
  migration-analysis/gate-check-report.json
  migration-analysis/gate-check-report.md
  migration-analysis/lint-rules-documentation.md
  migration-analysis/lint-rules-report.json
  migration-analysis/phase2-evidence.json
  migration-analysis/test-generation-summary.md
  migration-analysis/test-manifest.json
Due: none

Path conditions:
  pylint-py2-idioms: any of: \.py$
  flake8-py2-data-layer: any of: (?x) src/io_protocols/ |src/data_processing/ |src/storage/ and \.py$
